#contact{
    margin-top: 195px;
    margin-bottom: 200px;

    #{&}-info{
        display: flex;
        align-content: center;
        flex-direction: column;
    }
}

.contact-info {
    text-align: center;
}

