// this is the man background colour specific to the Kisasa sanaa project
#kisasa-body {
    background-color: map-get($background-color, kisasa-bg);
}
#kisasa-body #navbar{
    background-color: map-get($background-color, kisasa-bg);
}

#kisasa-body {
    .nav-header {
        background-color: map-get($background-color, kisasa-bg);
    }

    .nav-links {
        a:hover {
            color: #196654;
        }
    }

    blockquote {
        color: #375454;
        border-left: 3px solid #375454;
    }

    .fa--medium:hover, .fa--linkedin:hover, .ic--sharp-email:hover, .mdi--github:hover, .simple-icons--hashnode:hover {
        background-color:#196654;
    }
    
}

//new code for the project imagery section
#kisasa-body #prj-imagery{
    height: auto;
    padding: 50px 100px;
    padding-bottom: 0;
    background-color: map-get($background-color, kisasa-bg-dark);  
}
