@mixin flexCenter {
    display: flex;
    align-items: center;
}


.nav-header {
    display: flex;
    flex-direction: row;
    background-color: map-get($background-color, primary2);
    padding: 20px 0px;
    padding-bottom: 10px;
    padding-left: 6%;
    position: relative;
    // height: 10vh;
    overflow-x: hidden;
    padding-right: 5%;
    // width: 100vw;
    // margin: 0 -10%;
}

nav {
    max-width: 1300px;
    width: 100%;
    @include flexCenter;
    justify-content: center;    
    display: flex;
    z-index: 1;
}


#navbar {
    background-color: map-get($background-color, primary2);
    width: 100%;
    margin: 0 20px;
    // margin-left: 20px;
    // margin-right: -5%;
    justify-content: space-between;

    .nav-logo {
        padding: 0;
        transform-style: preserve-3d;
        will-change: transform;
        transform: perspective(1000px);
        z-index: 1;
        position: relative;
        padding-right: 10%;
    }

    .nav-links {
        text-transform: uppercase;
        font-size: 16px;
        
        &:active {
            display: flex;
        }
    }
}


/* Active state styles for navigation items */
.nav-links {
    &:active {
        display: flex;
    }
}


//removes the extra space that was on the logo
.nav-logo > a {
    padding-left: 0;
}

//nav links states
.nav-links {
    font-weight: map-get($font-weights, bold);
    font-family: $primary-font;

    a {
    padding-left: 2em;
    }

    a:active {
        transition-duration: 0.2s;
        transition-delay: 0s;
        text-decoration: underline;
    }

    a:hover {
        color: map-get($text-color, theme-colour2);
        outline: invert;
        font-size: 20px;
    }

    a:focus {
        color: map-get($text-color, theme-colour2);
        outline: invert;
        font-size: 20px;
        text-decoration: underline;
    }
}

//hamburger menu styling
.hamburger-menu {
    display: none;
    color: map-get($text-color, primary);
}

/*hamburger menu active states*/
.hamburger-menu.is-active #openHam{
    display: none;
}
.hamburger-menu.is-active #closeHam{
    display: block;
}

.nav-links.is-active {
    display: flex;
}




/* Styles for tablets (portrait and landscape) */
// @media only screen and (min-width: 768px) and (max-width: 992px) {
//     body {
//       font-size: 16px; /* Adjust font size for tablets */
//     }
//     .content {
//       width: 70%; /* Adjust content width for tablets */
//     }
// }
  
/* Styles for large screens */
// @media only screen and (min-width: 992px) {
//     body {
//       font-size: 18px; /* Larger font size for desktops */
//     }
//     .content {
//       width: 80%; /* Wider content area for desktops */
//     }
// }
  
/* Styles for small screens (phones) */
@media only screen and (max-width: 768px) {
    #navbar {
        position: relative;
    }

    .nav-header {
        // padding-right: 2%;
        // padding-left: 2%;
        overflow-x: visible;
        width: auto;
    }

    .hamburger-menu {
        display: flex;
        // display: block;
        cursor: pointer;
    }

    .hamburger-menu #closeHam {
        display: none;
    }

    .nav-links {
        display: none; //initially hide the navigation links
        justify-content: center;
        flex-direction: column;
        align-items: center;
        position: absolute;
        // flex: 1;
        // right: 0;
        left: 0;
        top: 80px;
        background-color: map-get($background-color, primary2);
        width: 100vw;
        height: 140px;
        gap: 2vh;
        border: 5px solid #f9f6fe;
        overflow-x: hidden;
        box-shadow: inset 0 1px 0 rgba(255,255,255,.1);
    }

    .nav-links > a {
        font-size: 15px;
        font-style: normal;
        font-weight: map-get($font-weights, regular);
        padding: 0;
        margin: 0;
    }

    .nav-links > a:hover {
        font-size: 24px;
    }


    .nav-links.is-active {
        display: flex; /* Show navigation links when active */
        flex-flow: column;
        padding-left: 14%;
        margin-left: -15%;
        padding-top: 20px;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: flex-start;
        // width: 100vw;
    }

    //nav links states
    .nav-links {
        // font-weight: map-get($font-weights, normal);
        font-family: $primary-font;
        font-style: normal;

        a:active {
            transition-duration: 0.2s;
            transition-delay: 0s;
            text-decoration: underline;
            font-weight: map-get($font-weights, bold);
        }

        a:hover {
            color: map-get($text-color, theme-colour2);
            text-decoration: underline;
            // outline: invert;
            font-size: 18px;
            font-weight: map-get($font-weights, semi-bold);

        }

        a:focus {
            color: map-get($text-color, theme-colour2);
            outline: invert;
            font-size: 18px;
            text-decoration: underline;
        }
    }
    

}