#southern-front {
    padding-top: 0px;
    padding-left: 26%; //changed from 16%
    padding-right: 26%; //changed from 16%
    padding-bottom: 100px;
}

//code for the image at the top
.main-top-header{
    // justify-content: center;
    // align-items: flex-end;
    display: flex;
    position: relative;
    margin-bottom: 60px;
    // width: 100vh;

    img {
        width: 100%;
        height: auto;
        image-rendering: auto;
    }
}


.project-summary {
    padding-bottom: 50px;
    margin-bottom: 14%;
    #{&}-heading {
        display: block;
        font-weight: map-get($font-weights, extra-bold);

        h1{
            padding-bottom: 70px;
            // letter-spacing: 2px;
            letter-spacing: -.02em;
            font-size: 4rem;
            font-family: Helvetica, sans-serif;
            line-height: 100%;
            font-weight: map-get($font-weights, bold);
            text-align: center;
        }
    }

    #{&}-outline{
        h3{
            // padding-bottom: 5px;
            letter-spacing: 1px;
            font-size: 30px;
            line-height: 28px;
        }

        p {
            line-height: 28px;
            // font-family: $secondary-font;
            font-family: $primary-font;
            font-size: 18px;
            font-style: normal;
            line-height: 1.8rem;
            margin-top: 1.25rem;
            margin-bottom: 2.25rem;
            font-weight: 350;  //*changed from 300*

        }
    }

    #{&}-role {
        max-width: 100%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 50px;

        .wrapper{
            max-width: 1200px;
            grid-column-gap: 10px;
            // grid-row-gap: 16px;
            border-top: 2px solid #000;
            border-bottom: 2px solid #000;
            grid-template-rows: auto;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-auto-columns: 1fr;
            // margin-left: auto;
            // margin-right: auto;
            // padding-bottom: 0;
            display: grid;
        }
    }

}

//change text font inside grid
.project-summary-role {
    p {
        font-family: $primary-font;
        font-size: 24px;
    }
}


.item1, .item2, .item3, .item4 {
    border-left: 1px solid grey;
    padding: 5px;
}
.item4 {
    border-right: 1px solid grey;
}

.item1-role, .item2-project, .item3-timeline, .item4-tools {
    padding: 15px;

    p{
        padding-top: 10px;
        font-size: 14px;
        padding-right: 10px;
        line-height: 20px;
        text-transform: uppercase;
        color: gray;
    }
}


// code for image overview section
.project-image-summary {
    // margin: 0 10%;
    display: flex;
    flex-direction: column;
     width: 68vw; //*this affects the width of the container on the right side*
    // align-items: center;
    // margin-right: 10%;
    // padding-right: 8%;
    margin-left: -10%;
    justify-content: center;
}

//responsible for the section background colour (TODO:Find a solution it didnt work well)
// .project-image-summary ::before {
//     content: "";
//     display: flex;
//     z-index: -1;
//     position: absolute;
//     top: 20%;
//     left: -20%;
//     right: -20%;
//     bottom: 2px;
//     width: 150vw;
//     overflow: hidden;
//     padding: -10%;
//     margin: -19.5% -20%;
//     // margin-top: -20%;
//     // margin-bottom: -8%;
//     // margin: -20%; /* Negative margins to fill the element's margin space */
//     background-color:#e6e8ec; /* Background color for the pseudo-element */
//     // opacity: 0.6%;
//     opacity: 20%;
// }

//*this is new code*
.image-group-r {
    // background-color: aliceblue;
    display: grid;
    position: relative;
    column-gap: 60px;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    width: 75vw;
    padding-bottom: 60px;
    margin-bottom: 100px; //100px
}
.image-group-l{
    display: grid;
    position: relative;
    // column-gap:;
    grid-template-columns: 2fr 1fr;
    align-items: center;
    width: 55vw;
    padding-bottom: 60px;
    margin-bottom: 100px;
}

.image-group-r-text, .image-group-l-text{
    p {
        width: 100%;
        margin-top: 10px;
        font-family: $primary-font;
        font-style: normal;
        font-weight: map-get($font-weights, regular);
        font-size: 18px;
        font-weight: 350;  //*added this font weight *
    }
}
.image-group-r-img{
    img {
        // width: 600px;
        width: 30vw;
    }
}
.image-group-l-img {
    // width: 100%;
    img {
        width: 34vw;
    }
}



.design-process{
    h3{
        letter-spacing: 1px;
        font-size: 42px;
        line-height: 28px;
        padding-bottom: 20px;
    }

    figcaption {
        font-size: 18px;
    }

    figure {
        padding-top: 3%;
        padding-bottom: 1%;
        text-align: center;
    }

    img {
        max-width: 55vw;
    }
}

//section (research)
.research-stage {
    padding-bottom: 20px;

    #{&}-intro {
        letter-spacing: 1px;
        line-height: 30px;
        font-family: $primary-font;
        font-weight: map-get($font-weights, semi-bold);

        font-size: 2.5rem;
        margin-bottom: 1.5rem;
        margin-top: 1rem;
        text-decoration: underline;
    }

    #{&}-body {
        h5 {
            letter-spacing: 0.2px;
            font-size: 26px;
            line-height: 28px;
            margin-top: 2rem;
            color: #582a2d;
            margin-bottom: -0.7rem;
            
        }

        p {
            font-family: $secondary-font;
            font-size: 1.4rem;
            line-height: 2.25rem;
            margin-top: 1.25rem;
            font-weight: 300;
        }
    }
}


// section (analysis)
.analysis-stage {
    padding-bottom: 20px;

    #{&}-intro {
        letter-spacing: 1px;
        line-height: 30px;
        font-family: $primary-font;
        font-weight: map-get($font-weights, semi-bold);

        font-size: 2.5rem;
        margin-bottom: 1.5rem;
        margin-top: 1rem;
        text-decoration: underline;
    }

    #{&}-body {
        h5 {
            letter-spacing: 0.2px;
            font-size: 26px;
            line-height: 28px;
            margin-top: 2rem;
            color: #582a2d;
            margin-bottom: -0.7rem;
            
        }

        p, ol, ul {
            font-family: $secondary-font;
            font-size: 1.4rem;
            line-height: 2.25rem;
            margin-top: 1.25rem;
            font-weight: 300;
        }

        ol, ul {
            padding: 0 50px;
            padding-right: 60px;
        }

        li {
            padding-bottom: 10px;
        }
    }
}



//section (ideate)
.ideate-stage {
    padding-bottom: 20px;

    #{&}-intro {
        letter-spacing: 1px;
        line-height: 30px;
        font-family: $primary-font;
        font-weight: map-get($font-weights, semi-bold);

        font-size: 2.5rem;
        margin-bottom: 1.5rem;
        margin-top: 1rem;
        text-decoration: underline;
    }

    #{&}-body {
        h5 {
            letter-spacing: 0.2px;
            font-size: 26px;
            line-height: 28px;
            margin-top: 2rem;
            color: #582a2d;
            margin-bottom: -0.7rem;
        }

        p {
            font-family: $secondary-font;
            font-size: 1.4rem;
            line-height: 2.25rem;
            margin-top: 1.25rem;
            font-weight: 300;
        }
    }
}


//section (prototype)
.prototyping-stage {
    padding-bottom: 20px;

    #{&}-intro {
        letter-spacing: 1px;
        line-height: 30px;
        font-family: $primary-font;
        font-weight: map-get($font-weights, semi-bold);

        font-size: 2.5rem;
        margin-bottom: 1.5rem;
        margin-top: 1rem;
        text-decoration: underline;
    }

    #{&}-body {
        h5 {
            letter-spacing: 0.2px;
            font-size: 26px;
            line-height: 28px;
            margin-top: 2rem;
            color: #582a2d;
            margin-bottom: -0.7rem;
        }

        p {
            font-family: $secondary-font;
            font-size: 1.4rem;
            line-height: 2.25rem;
            margin-top: 1.25rem;
            font-weight: 300;
        }
    }
}

//section (testing)
.testing-stage {
    padding-bottom: 20px;

    #{&}-intro {
        letter-spacing: 1px;
        line-height: 30px;
        font-family: $primary-font;
        font-weight: map-get($font-weights, semi-bold);

        font-size: 2.5rem;
        margin-bottom: 1.5rem;
        margin-top: 1rem;
        text-decoration: underline;
    }

    #{&}-body {
        h5 {
            letter-spacing: 0.2px;
            font-size: 26px;
            line-height: 28px;
            margin-top: 2rem;
            color: #582a2d;
            margin-bottom: -0.7rem;  
        }

        // p {
        //     font-family: $secondary-font;
        //     font-size: 1.4rem;
        //     line-height: 2.25rem;
        //     margin-top: 1.25rem;
        //     font-weight: 300;
        // }

        p, ol, ul {
            font-family: $secondary-font;
            font-size: 1.4rem;
            line-height: 2.25rem;
            margin-top: 1.25rem;
            font-weight: 300;
        }

        ol, ul {
            padding: 0 50px;
            padding-right: 60px;
        }

        li {
            padding-bottom: 10px;
        }
    }
}

//section (conclusion)
.conclusion-stage {
    padding-bottom: 20px;

    #{&}-intro {
        letter-spacing: 1px;
        line-height: 30px;
        font-family: $primary-font;
        font-weight: map-get($font-weights, semi-bold);

        font-size: 2.5rem;
        margin-bottom: 1.5rem;
        margin-top: 1rem;
        text-decoration: underline;
    }

    #{&}-body {
        h5 {
            letter-spacing: 0.2px;
            font-size: 26px;
            line-height: 28px;
            margin-top: 2rem;
            color: #582a2d;
            margin-bottom: -0.7rem;   
        }

        p {
            font-family: $secondary-font;
            font-size: 1.4rem;
            line-height: 2.25rem;
            margin-top: 1.25rem;
            font-weight: 300;
        }
    }
}

.video-interactive-prototype{
    padding-bottom: 50px;
    padding-left: 10.5%;
    video {
        border-top: 3px solid#000; 
        border-bottom: 3px solid#000; 
        max-height: 500px; 
        max-width: 800px;
        
    }
}


//make page responive
/* Styles for tablets (portrait and landscape) */
@media only screen and (min-width: 768px) and (max-width: 992px) {
    #sf-product {
        margin-bottom: -30%;
    }
    // body {
    //   font-size: 16px; /* Adjust font size for tablets */
    // }
    // .content {
    //   width: 70%; /* Adjust content width for tablets */
    // }

    .image-group-right, .image-group-left {
        display: grid;
        column-gap: 50px;
        // row-gap: 50px;
        // grid-template-rows: auto;
        grid-template-columns: 2fr 2fr;
        // grid-template-columns: 1fr 2fr;
        // grid-auto-columns: 1fr;
        position: relative;
    
            #{&}-text {
                margin-top: 30px;
                // font-size: 40px;
                letter-spacing: 2px;
                // margin-bottom: 30px;
                white-space: normal;
                // object-fit: fill;
                // display: inline-block;   //changed from block
                align-items: center;
                // vertical-align: middle;
    
                h3 {
                    margin-top: 0;
                    font-weight: map-get($font-weights, extra-bold);
                    line-height: 1em;
                    // font-size: 20px;
                }
            }
    } 
}
  
/* Styles for large screens */
// @media only screen and (min-width: 992px) {
//     body {
//       font-size: 18px; /* Larger font size for desktops */
//     }
//     .content {
//       width: 80%; /* Wider content area for desktops */
//     }
// }
  
/* Styles for small screens (phones) */
@media only screen and (max-width: 600px) {
    #sf-product {
        margin-bottom: -30%;
    }

    .image-group-right, .image-group-left {
        display: grid;
        column-gap: 50px;
        // row-gap: 50px;
        // grid-template-rows: auto;
        grid-template-columns: 2fr 2fr;
        // grid-template-columns: 1fr 2fr;
        // grid-auto-columns: 1fr;
        position: relative;
    
            #{&}-text {
                margin-top: 30px;
                // font-size: 40px;
                letter-spacing: 2px;
                // margin-bottom: 30px;
                white-space: normal;
                // object-fit: fill;
                // display: inline-block;   //changed from block
                align-items: center;
                // vertical-align: middle;
    
                h3 {
                    margin-top: 0;
                    font-weight: map-get($font-weights, extra-bold);
                    line-height: 1em;
                    // font-size: 20px;
                }
            }
    }   
}

