$primary-font: 'Montserrat', sans-serif;
// $primary-font: 'Helvectica', sans-serif;
$secondary-font2: 'Hind Vadodara',  Helvetica, arial, sans-serif;
$tertiary-font: 'Bebas Neue',  Helvetica Neue, arial, sans-serif;
$secondary-font: 'Cormorant Garamond', Georgia, serif;

$background-color: (
    "primary": #f7f7f7,
    "secondary": #100303
);

$text-color: (
    "primary": #100303,
    "accent": #696969,
    "secondary": #f7f7f7
);

$font-weights:(
    "regular": 400,
    "semi-bold": 500,
    "bold": 600,
    "extra-bold": 700
); 