$primary-font: Montserrat, sans-serif;
$secondary-font: Hind Vadodara, sans-serif;

$background-color: (
    "primary": #f7f7f7,
    "secondary": #100303
);

$text-color: (
    "primary": #100303,
    "accent": #808080,
    "secondary": #f7f7f7
);

$font-weights:(
    "regular": 400,
    "semi-bold": 500,
    "bold": 600,
    "extra-bold": 700
);