@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Hind+Vadodara:wght@300;400;500;600;700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap');

$primary-font: "Montserrat", sans-serif; /* body text */
$secondary-font: "EB Garamond", serif; /*header text */
$secondary-font2: "Playfair", serif;
$tertiary-font: "Hind Vadodara", sans-serif;


// $primary-font: 'Montserrat', sans-serif;
// // $primary-font: 'Helvectica', sans-serif;
// $secondary-font2: 'Hind Vadodara',  Helvetica, arial, sans-serif;
// $tertiary-font: 'Bebas Neue',  Helvetica Neue, arial, sans-serif;
// $secondary-font: 'Cormorant Garamond', Georgia, serif;

$background-color: (
    "primary": #f7f7f7,
    "primary2": #f9f6fe,
    "secondary": #100303,
    "secondary2":#FDE9FF,
    // kisasaa sanaa colours
    "kisasa-green-main":#779C9C,
    "kisasa-bg": #f1f5f5,
    "kisasa-bg-dark":#e8efef,
    "secondary3": #7a6191,
    "alternate-grey": #bfa5ac0e
);

$text-color: (
    "primary": #100303,
    "accent": #696969,
    "secondary": #f7f7f7,
    "theme-colour": #501895,
    "theme-colour2":#7A6191
);

$font-weights:(
    "regular": 400,
    "semi-regular": 450,
    "semi-bold": 500,
    "bold": 600,
    "extra-bold": 700
); 

// icons styling
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 40
}
