@import './resets';
@import './variables';
@import './navbar';
@import './contact';
@import './southernFigure';
@import './footer';

@mixin flexCenter {
    display: flex;
    align-items: center;
}

body {
    // background-color: map-get($background-color, primary);
    background-color: map-get($background-color, primary2);
    min-height: 100%;
    margin: 0;
    font-family: $primary-font;
    font-weight: map-get($font-weights, regular);
    line-height: 28px;
    font-size: 20px;
    min-width: 100%;


    p {
        // font-family: $secondary-font;
        font-family: $primary-font;
        font-weight: map-get($font-weights, regular);
    }
}

a {
    color: map-get($text-color, primary);
    text-decoration: none;
    transition-duration: 0.2s;
    transition-delay: 0s;
    font-size: 16px;
    padding-left: 1em;  

}


main{
    display: block;
    position: relative;


    // min-width: 80vh;
    // min-height: auto;
}

.main-top {
    display: flex;
    flex-direction: column;
    position: relative;
    
    min-width: 105vh;

    img {
        width: auto;
        margin-top: -45px;
    }

    .project-holder {
        position: relative;
        // margin-top: -10px;
        margin-bottom: -30px;
    }
}



.project-holder {
    display: flex;
    align-items: flex-end; 

    // width: 100%;

    // position: sticky;
    flex-direction: row;
    padding-left: 15%;
    // margin-top: -70px; this code interrupts the functionality of the links in the header/navbar by covering it
}

.intro-text {
    position: relative;
    display: flex;
    margin-right: 5vw;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    max-width: 700px;
    z-index: 1;
    will-change: transform;
    transform: translate3d(-1.9996%, 0, 0) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
    transform-style: preserve-3d;
    // padding: 18% 2%;
    padding-bottom: 18%;
    padding-left: 2%;
    padding-right: 2%;

    #{&}-header{
        font-weight: map-get($font-weights, extra-bold);
        font-family: $secondary-font2;
        font-size: 74px;
        margin-bottom: 5px;
        padding-bottom: 25px;
        letter-spacing: 1px;
        
        // line-height: 2%;
    }

    #{&}-paragraph{
        margin-top: 10px;
        color: map-get($text-color, primary);
        font-size: 16px;
        line-height: 30px;
    }
}

//marquee styling
.marquee-horizontal {
    @include flexCenter;
    overflow: hidden;
    width: 100%;
    white-space: nowrap;
    justify-content: flex-start;
    background-color: map-get($background-color, secondary);
}

.track-horizontal {
    @include flexCenter;
    position: relative;
    justify-content: flex-start;
    white-space: nowrap;
    will-change: transform;
    animation: marquee-horizontal 40s linear infinite;
}

.marquee-text{
    color: map-get($text-color, secondary);
    font-size: 12px;
}

@keyframes marquee-horizontal {
    0% {
      transform: translateX(-100%);
    }
  
    100% {
      transform: translateX(0%);
    }
}







//code for project section
.projects-section{
    width: 100%;
    margin-top: 0;
    margin-bottom: 5px;
    padding-top: 30px;
    padding-bottom: 0;
    transition: #f7f7f7 .3s;
    display: block;
    
    .project-image-container {
        width: 50vw;
        height: 100%;
        background-size: cover;
        display: flex;
        position: relative;
    }

    .project-name {
        display: block;
        margin-bottom: 10px;
    }
} 

.project-page-container {
    width: 100%;
    max-width: none;
    margin-top: 0;
    min-height: 0;
    margin: 25px auto 0;
    display: block;
    position: relative;

    .halfcard-holder {
        width: 100vw;
        height: 60vh;
        flex-direction: row;
        display: flex;

        a {
            padding-left: 0;
        }
    }

    .w-inline-block {
        max-width: 100%;
        display: inline-block;
    }

}

.project-name {
    margin-left: 30px;
    margin-bottom: 20px;
    text-transform: uppercase;
    display: block;

    .project-title {
        // font-weight: 900;
        font-weight: map-get($font-weights, semi-bold );
        letter-spacing: 0.8px;
        text-transform: uppercase;
        border-bottom: 2px #100303;
        padding-bottom: 0;
        line-height: 26px;
        font-size: 20px;
        font-family: $primary-font;
    }

    .project-subtitle {
        padding-bottom: 20px;
        letter-spacing: 0;
        font-size: 14px;
    }
}



//responsive to resizing

/* Styles for smartphones (max-width 576px) */
@media (max-width: 576px) {
    .main-top, .projects-section{
      flex-direction: column;
      align-items: flex-start;
    //   padding: 0 30px 0;
    }

    .marquee-horizontal {
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
    }

    .main-top{
        padding: 0;
        margin-left: -10%;
    }
    
    
    .project-holder{
        padding-left: 0;
        
    }

    // this code may or may not change alignment of several projects on one page when resized for mobile 
    .projects-section {
        display: flex;
    }

    // main {
    //     min-height: 100vh;
    // }
}



// responsive to resizing
/* Styles for tablets (min-width 577px and max-width 768px) */
@media (min-width: 577px) and (max-width: 768px) {
    .main-top, .projects-section, .marquee-horizontal{
      flex-direction: row;
      justify-content: space-between;
    }
}

/* Styles for desktops (min-width 769px) */
@media (min-width: 769px) {
    .main-top, .projects-section, .marquee-horizontal{
      display: flex;
      justify-content: space-between;
    }
}

//prevent heading from overlapping when screen collapse
/* For screens wider than 768px */
@media (max-width: 768px) {
    body {
        width: 150px;
        height: 150px;
    }
}