$background-color: #f7f7f7;
$primary-font: Montserrat, sans-serif;

$text-color: (
    "primary": #100303,
    "accent": #808080
);

$font-weights:(
    "regular": 400,
    "semi-bold": 500,
    "bold": 600,
    "extra-bold": 700
);

*{
    box-sizing: border-box;
}

body {
    background-color: $background-color;
    min-height: 100%;
    margin: 0;
    font-family: $primary-font;
    font-weight: map-get($font-weights, regular);
    line-height: 28px;
    font-size: 16px;
}

header {
    margin-top: 3%;
    display: block;
}

.nav-items {
    display: flex;
    margin-top: -3%;
    padding-right: 5%;
    padding-left: 5%;
    padding-top: 3%;
    align-items: center;

    .nav-wrap {
        padding-top: 0;
        flex: 1;    
        // gap: 1em;    
    }

    .nav-logo {
        padding: 0;
    }
}

.nav-logo {
    transform-style: preserve-3d;
    z-index: 1;
    position: relative;
}

.nav-wrap {
    text-transform: uppercase;
    display: flex;
    justify-content: flex-end;
}

.nav-links {
    font-weight: map-get($font-weights, bold);
    font-family: $primary-font;
    // font-display: swap;
    a {
        padding-left: 1em;
    }
}

a {
    color: map-get($text-color, primary);
    text-decoration: none;
    transition-duration: 0.2s;
    transition-delay: 0s;
    font-size: 16px;
    

    :active{
        text-decoration: underline;
    }

}

a:hover, a:focus{
    color: map-get($text-color, accent);
    outline: invert;
    font-size: 20px;
}

main{
    display: block;
}

